<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <link rel="stylesheet" type="text/css" href="adminhome.css">
</head>
<body>
    <div class="wrapper">
        <h1>ADMIN HOME</h1>
        <p><strong>The Admin Home page have the most authorised content in this application AnimeTape. So, only the authorised admin side users/developers should be access this page.</strong></p>
        <div class="navbuttons">
            <form action="/upload"><button>Upload Data</button></form>
            <form action="/viewdata"><button>View Data</button></form>
        </div>

        <div class="report">
        <form action="">
            <textarea name="" id="" cols="30" rows="10" placeholder="Hey Admin User...! Report your issues here,,,"></textarea>
            <input type="email" name="" id="" placeholder="Enter the support email here">
            <button>SEND</button>
        </form>
        </div>

        <form action=""><button class="logout">Logout</button></form>

    </div>
</body>
</html>