<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://kit.fontawesome.com/c31787acac.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper">

        <div class="navcontainer">
            <div class="logo">MusicTapes</div>
            <div class="searchbox">
               <input type="search" name="" id="" placeholder="search here...">
            </div>
            <div class="navlist">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Favourites</a></li>
                    <li><a href="">Recently Updated</a></li>
                    <li><a href="">Request</a></li>
                </ul>
            </div>
            
            <div class="login">
                <form action="/login"> <button><i class="fa-solid fa-user"></i>Login</button></form>
            </div>
        </div>


        <div class="scroll">
            <img src="/images/guitar11.avif" alt="homeimage" class="imagescroll">
        </div>

        <div class="contentcontainer">
            <h2>Listen Music Online</h2>
            <p>This page is a free music listening website that allows you to listen music online. Join us and listen music online for free and buy premium for exclusive features with ease. Easy access, <strong>Registration is required</strong>. This page is still under construction for loadbalancing hence the registration is requried. Soon this page will be registration free and payment free for some interesting features. We are confident this page is the best free anime streaming site in the space that you can't simply miss!</p>
        </div>

        <div class="registercontainer">
            <form action="/register"><button>Register Here  <span><i class="fa-solid fa-arrow-right-to-bracket"></i></span></button></form>
        </div>

        <marquee behavior="alternate">
            Support this page by clicking the link here. The support motivates us to bring more merrier Anime. <a href="">Click Here</a>
          </marquee>
          

        <div class="line"></div>

        <footer>
            <div class="mainfooter">
                <h1>MusicTapes</h1>
            <p>Made with lots of love and support</p>
            </div>
            
            <div class="regards">
                <p>Persistence makes perfect</p>
            </div>
            
        </footer>
    </div>
</body>
</html>